<div id="view" class="ng-scope">
<div class="detail">
    <h2> Jenkin Jobs:</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Jobs</th>
            <th>Status</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ job.name }}</td>
            <td>{{ job.color}}</td>
            <td><a href="http://ec2-54-183-209-118.us-west-1.compute.amazonaws.com:8080/api/json?pretty=true">{{ job.url }}</a></td>
        </tr>
        </tbody>
    </table>
</div>
</div>